@{
    ViewBag.Title = "Home Page";
}

<div ng-controller="SongListCtrl">

    <div ng-show="showStep(1)" class="panel panel-default filereader">
        <div class="panel-heading">
            <h3>Step 1 - Select your file</h3>
        </div>
        <div class="panel-body">
            <p>Last.fm lets you export your playlist in XSPF or TSV format. Choose one of those files and we'll take care of the rest.</p>
            <input type="file" id="input">
            <p class="label-warning">This app only works with TSV format for the moment. XSPF coming soon.</p>
        </div>
    </div>

    <div ng-show="showStep(2)" id="songList" class="panel panel-default">
        <div class="panel-heading">
            <h3>Step 2 - Just wait. We're looking for the songs on Spotify.</h3>
        </div>
        <div class="panel-body">
            <p>Your playlist contains <em>{{songs.length}}</em> songs</p>

            <p>
                How many items to display ? <select ng-model="songsRange" ng-options="range for range in songsRangeOptions"></select><br>
            </p>

            <a ng-click="previousPage()"><i class="glyphicon glyphicon-chevron-left"></i></a> page {{songsPageIndex + 1}} on {{songsPageMaxIndex() + 1}} <a ng-click="nextPage()"><i class="glyphicon glyphicon-chevron-right"></i></a>
            <ul class="list-group songs">
                <li ng-repeat="song in paginatedSongs()" class="list-group-item">
                    <p>
                        <i class="glyphicon glyphicon-ok" ng-show="song.isAvailable"></i>
                        <a href="">{{song.artist}}</a> &mdash; <a href="">{{song.title}}</a>
                        <i class="glyphicon glyphicon-play-circle" ng-show="song.isAvailable">preview</i>
                    </p>
                </li>
            </ul>
        </div>
    </div>

    <div ng-show="showStep(3)" class="panel panel-default">
        <div class="panel-heading">
            <h3>Step 3 - We're done ! Now you just have to create your playlist.</h3>
        </div>
        <div class="panel-body">
            <p>We have found <em>{{availableSongs.length}}</em> songs out of the <em>{{songs.length}}</em> from your playlist.</p>


            <p><strong>First</strong>, copy all the songs to your clipboard by clicking on the bellow button.</p>
            <p><a id="copy-songs" data-clipboard-text="{{songsToCopy}}" class="btn btn-primary">Copy the songs</a></p>
            <p><strong>Then</strong>, paste it on a newly created playlist on spotify.</p>

            <p>
                How many items to display ? <select ng-model="songsRange" ng-options="range for range in songsRangeOptions"></select><br>
            </p>

            <a ng-click="previousPage()"><i class="glyphicon glyphicon-chevron-left"></i></a> page {{songsPageIndex + 1}} on {{availableSongsPageMaxIndex() + 1}} <a ng-click="nextPage()"><i class="glyphicon glyphicon-chevron-right"></i></a>
            <ul class="list-group songs">
                <li ng-repeat="song in paginatedAvailableSongs()" class="list-group-item">
                    <p>
                        <i class="glyphicon glyphicon-ok" ng-show="song.isAvailable"></i>
                        <a href="">{{song.artist}}</a> &mdash; <a href="">{{song.title}}</a>
                        <i class="glyphicon glyphicon-play-circle" ng-show="song.isAvailable">preview</i>
                    </p>
                </li>
            </ul>
        </div>
    </div>
</div>
